/* ------------------- VARIABLES */
:root {
    --space: 10px;
    --space-1-5-x: 15px;
    --space-2-x: 20px;
    --space-3-x: 30px;
    --space-4-x: 40px;

    --black-color: #000;
    --gray-color: #DFE1E5;
    --gray-dark-color: #5f6368;

    --font-extra-small: 12px;
    --font-small: 13px;
    --font-middle: 14px;
    --font-large: 16px;
    --font-extra-large: 18px;
}
/* ------------------- VARIABLES */

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-extra-small);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ------------------- HEADER */

header {
    height: 60px;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    align-items: center;
    display: flex;
    height: auto;
    list-style: none;
    justify-content: center;
    width: 250px;
}

nav .nav-right-section a {
    color: var(--black-color);
    margin-right: var(--space);
}

nav .nav-right-section .menu-icon {
    background-image: url(/img/icon-menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25px;
    width: 25px;

}

NAV .nav-right-section img {
    border-radius: 50%;
    margin-left: var(--space);
}

/* ------------------- HEADER */

/* ------------------- MAIN */

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 530px;
}

main .main-logo img {

    width: 300px;
}

main .main-input {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 530px;
}

main .main-input .main-input-container {
    align-items: center;
    border: 1px solid var(--gray-color);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    width: 525px;
    
}

main .main-input input {
    border: none;
    height: 40px;
    outline: none;
    width: 450px;
}

main .main-input .main-input-container:hover {
    border-color: #dfe1e500;
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon {
    background-image: url('/img/icon-search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 18px;
    width: 18px;
}

main .main-input .micro-icon {
    background-image: url('/img/icon-micro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

main .main-buttons {
    margin: 0 auto;
    width: 530px;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #5F6368;
    cursor: pointer;
    font-size: var(--font-middle);
    height: 36px;
    margin-right: var(--space-1-5-x);
    padding: 0 var(--space-1-5-x);
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px var(--black-color);
    color: #222;
}

/* ------------------- MAIN */


/* ------------------- FOOTER */

footer {
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    display: grid;
    font-size: var(--font-small);
    height: 50px;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 100%;
}

footer ul {
    display: flex;;
    list-style: none;
    margin: 10px;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    color: #5F6368;
    margin: 10px;
}

/* ------------------- FOOTER */

