/* ------------------- VARIABLES */
:root {
    --space: 10px;
    --space-1-5-x: 15px;
    --space-2-x: 20px;
    --space-3-x: 30px;
    --space-4-x: 40px;

    --black-color: #000;
    --gray-color: #DFE1E5;
    --gray-dark-color: #5f6368;

    --font-extra-small: 12px;
    --font-small: 13px;
    --font-middle: 14px;
    --font-large: 16px;
    --font-extra-large: 18px;
}
/* ------------------- VARIABLES */

/* ------------------- GENERAL */
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-extra-small);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
}
/* ------------------- GENERAL */

/* ------------------- HEADER */

header {
    text-align: center;
    width: 100%;
}

header div {
    margin: 0 auto;
    width: 270px;
}

header div .header-logo {
    background-image: url(/img/wikipedia.png);
    background-position: -176px -254px;
    height: 30px;
    margin-top: 55px;
    width: 176px;
}

header div .header-desc {
    font-family: Linux Libertine,Georgia,Times,serif;
    font-size: 15px;
    margin-top: 10px;
}

/* ------------------- HEADER */

/* ------------------- MAIN */

main {
    margin-top: 15px;
    height: 800px;
    width: 100%;
}

main .main-world {
    background-image: url('/img/wikipedia-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;

    height: 325px;
    margin: 0 auto;
    position: relative;
    width: 546px;
}

main .main-world div {
    text-align: center;
}

main .main-world div a strong {
    color: #36c;
    display: block;
    font-size: 16px;
    margin-bottom: 7px;
}
main .main-world div a strong:hover {
    text-decoration: underline;
}

main .main-world div a small {
    color: #54595d;
    font-size: 13px;
}

.main-world-lang-1,.main-world-lang-2,.main-world-lang-3,.main-world-lang-4,.main-world-lang-5,.main-world-lang-6,.main-world-lang-7,.main-world-lang-8,.main-world-lang-9,.main-world-lang-10 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    position: absolute;
    width: 156px;
}

.main-world-lang-1 {
    right: 60%;
    top: 4%;
}
.main-world-lang-2 {
    left: 60%;
    top: 4%;
}

.main-world-lang-3 {
    right: 70%;
    top: 24%;
}
.main-world-lang-4 {
    left: 70%;
    top: 24%;
}

.main-world-lang-5 {
    right: 72%;
    top: 44%;
}
.main-world-lang-6 {
    left: 72%;
    top: 44%;
}

.main-world-lang-7 {
    right: 70%;
    top: 64%;
}
.main-world-lang-8 {
    left: 70%;
    top: 64%;
}

.main-world-lang-9 {
    right: 60%;
    top: 84%;
}
.main-world-lang-10 {
    left: 60%;
    top: 84%;
}

main .main-search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 18px;
    width: 546px;
}

main .main-search .main-search-input {
    align-items: center;
    border: 1px solid #a2a9b1;
    border-radius: 2px 0 0 2px;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 394px;
}

main .main-search .main-search-input input {
    border: none;
    font-size: 14px;
    height: 95%;
    width: 95%;
}
main .main-search .main-search-input input:focus {
    outline: none;
}

main .main-search .main-search-logo {
    background-color: #447ff5;
    border: 1px solid #447ff5;
    border-radius: 0 2px 2px 0;
    height: 44px;
    text-indent: -9999px;
    width: 56px;
}
main .main-search .main-search-logo button {
    height: 100%;
    width: 100%;
}
main .main-search .main-search-logo button i {
    background-color: #447ff5;
    background-image: url('/img/wikipedia.png');
    background-position: -160px -685px;
    height: 22px;
    width: 22px;
}
/* ------------------- MAIN */

/* ------------------- FOOTER */

/* ------------------- FOOTER */