:root {
	--primary-color: #0068c6;
}

* {
	/* background: #000 !important; */
	/* color: #0f0 !important; */
	/* outline: solid #f00 1px !important; */
}

body {
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	font-size: 16px;

	margin: 0;
	padding: 0;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a {
	color: #000;
	display: inline;
	text-decoration: none;
}

header {
	height: 140px;
	width: 100%;

	display: grid;
	grid-template-rows: 1fr 1fr;
}
header .header-social-media {
	background-color: var(--primary-color);
	height: 50px;
	width: 100%;

	display: grid;
	justify-content: flex-end;
}
header .header-social-media .icons {
	height: auto;
	width: 300px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
header .header-social-media .icons i {
	color: #fff;
	font-size: 2em;
}

header nav {
	height: 90px;

	display: grid;
	grid-template-columns: 2fr 1fr;
}
header nav .header-nav-logo {
    margin-left: 50px;
    
	display: flex;
	align-items: center;
}
header nav .header-nav-logo a {
	display: flex;
	align-items: center;
}
header nav .header-nav-logo img {
    margin-top: 10px;
	width: 60px;
}
header nav .header-nav-logo span {
	font-size: 2em;
}
header nav .header-nav-about {
	margin-right: 50px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header nav .header-nav-about a {
	border-bottom: 1px solid #000;
	font-size: 1.4em;
	font-weight: 400;
}

main {
	background-image: url("../img/home/cover.png");
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
}
main section {
    height: 350px;
    margin-top: 80px;

    display: grid;
    grid-column: 2;
    justify-items: center;
}
main section .home-main-text {
    
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: center;
}
main section .home-main-button {
    
	background-color: var(--primary-color);
	border-color: var(--primary-color);
    height: 50px;
    width: 110px;

    display: grid;
    align-items: center;

}
main section .home-main-button a {
    font-size: 1.2em;
    font-weight: 700;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {

    header nav .header-nav-logo {
        margin-left: 10px;
    }
    header nav .header-nav-about {
        margin-right: 10px;
    }
    header nav .header-nav-about a {
        font-size: 1em;
    }

    main section {
        margin-top: 5px;
    }
}
@media (max-width: 320px) {
}
