:root {
	--primary-color: #0068c6;
}


* {
	/* background: #000 !important; */
	/* color: #0f0 !important; */
	/* outline: solid #f00 1px !important; */
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
	font-size: 16px;

	margin: 0;
	padding: 0;

    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: #000;
}

/* .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 1024px;
} */

header {
    background-color: var(--primary-color);
    height: 50px;
	width: 100%;
}

.social-media {
    display: grid;
    justify-content: flex-end;
    
    height: inherit;
}
.social-media-icons {
	display: flex;
    align-items: center;
	justify-content: space-evenly;

	width: 300px;
}
.social-media-icon i {
	color: #fff;
	font-size: 2em;
}

main {
    background-image: url('../img/home/cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-grid {
    
    display: grid;
    grid-template: 150px 1fr 1fr / repeat(3, 1fr);
    grid-template-areas: "logo logo about" "title title title" "button button button";
    height: calc(100vh - 50px);
    
    margin-left: 50px;
    margin-right: 50px;
}

.home-grid-logo {
    grid-area: logo;
    
    display: flex;
    align-items: center;
}

.home-grid-logo a {
    grid-area: logo;
    
    display: flex;
    align-items: center;
}

.home-grid-logo img {
	width: 90px;
}

.home-grid-logo span {
    color: #fff;
    font-size: 3em;
	width: 100%;
}

.home-grid-about {
    grid-area: about;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home-grid-about a {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.8em;
    font-weight: 300;
}

.home-grid-title {
    color: #fff;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 3em;

    grid-area: title;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-grid-button {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    grid-area: button;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-grid-button a {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 15px 20px;
}

@media (max-width: 1024px) {

    /* .container {
        max-width: 768px;
    } */
}
@media (max-width: 768px) {
    /* .container {
        max-width: 480px;
    } */
    
    .home-grid {
        
        margin-left: 25px;
        margin-right: 25px;
    }

    .home-grid-title {
        font-size: 2.5em;
    }

}
@media (max-width: 480px) {
    
    .home-grid {
        
        margin-left: 10px;
        margin-right: 10px;
    }

    .home-grid-logo span {
        font-size: 1.8em;
    }

    .home-grid-about a {
        font-size: 1.5em;
    }
        
    .home-grid-title {
        font-size: 2em;
    }

}
@media (max-width: 320px) {
    
}
