@media(max-width: 600px) {

    .main_section {
        padding: 4%;
    }

    .products {
        display: inherit;
        height: auto;
    }

    .product {
        margin-top: auto;
    }

    .benefits, .mentions {
        display: inherit;
    }

    .mention {
        box-shadow: var(--box);
        margin: 10px 0px;
    }
}